@charset "UTF-8";

/*universal styles*/
#container{
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	line-height: 125%;
	/*flexbox setup*/
	display: flex;
	flex-direction: column;
}
/*header*/
header {
	background-color: #000066;
}
/*Navigation*/
header img:first-child {
	width: 131.4px;
	height: 100px;
	position: relative;
	margin-top: 15px;
	margin-left: 20px;
}
ul {
	background-color: #e6e6e6;
	border-radius: 3px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 20px 0;
	margin-bottom: 0;
}
li:first-child{
	margin-left: 5%;
}
li{
	display: inline-block;
	font-size: 20px;
	padding-right: 3.5%;
}
/*search bar*/
header > input{
	width: 38%;
	height: 32px;
	border-radius: 5px;
	padding-left: 20px;
}
header img:nth-child(3) {
	width: 28px;
	height: 28px;
	margin-left: -36px;
	margin-bottom: -10px;
}
header > img:nth-child(5), header > img:nth-child(6){
	width: 50px;
}
header > img:nth-child(5) {
	margin-left: 90%;
	position: absolute;
	margin-top: -58px;
}
header > img:nth-child(6) {
	margin-left: 95%;
	position: absolute;
	margin-top: -58px;
}
/*Main*/
main > img:first-child {
	width: 32%;
	margin-top: 30px;
}
/*article*/
article {
	order: 1;
	margin: 0 34%;
	margin-top: -23%;
	position: relative;
}
article p:nth-child(7) {
	font-size: 13px;
}
article > img {
	width: 22%;
}
/*aside*/
aside {
	order: 4;
	margin-left: 40px;
}
aside img{
	width: 100px;
}
#reviews{
	margin-left: 20px;
}
/*section*/
section{
	order: 3;
	margin-top: 200px;
}
#recomended{
	margin-left: 20px;
	margin-top: 190px;
}
section > img{
	width: 200px;
	height: 250px;
	padding: 0 50px;
	margin-top: -150px;
	margin-left: 25px;
}
/*form*/
form{
	order: 2;
	margin-left: 70%;
	margin-top: -34%;
}
label {
	line-height: 250%;
	display: inline-block;
}
form input {
	border-radius: 5px;
}
/*button*/
button{
	background-color: #000066;
	color: white;
	width: 150px;
	height: 30px;
	border-radius: 3px;
	border: 2px solid black;
}
/*footer*/
footer{
	background-color: #e6e6e6;
	text-align: center;
}
